*pyc
*swp
*pkl
!tests/gDNA_paired_end/intermediary_files/namepairidx_gDNA_1_sequence.pkl
!tests/cDNA_paired_end/intermediary_files/namepairidx_cDNA_1_sequence.pkl
envbcwithqc
build
dist
bcwithqc.egg-info
